div.form-container

  form

    span
      width: 600px

      a
        margin-left: 5px

      &#name

        input

          &.left
            width: 49%

          &.right
            width: 48%

      &#password-span

        input

          &.left
            width: 46%

          &.right
            width: 46%

      &#gender-span
        width: 99%
        margin-top: 10px
        border: 2px solid grey
        border-radius: 25px
        background-color: green

        label
          font-size: 25px
          margin-left: 30px
          color: white

        select
          border: none

    input
      border-radius: 25px

      &.sigle
        width: 99%

      &.right
        margin-left: 5px

      &[type=submit]
        width: 99%

    meter
      width: 99%

  span.option
    display: flex
    justify-content: center
