// GLOBAL STYLES

$normal-font-size: 25px

// Scrollbar

// Width
\::-webkit-scrollbar
  width: 5px
  height: 5px

// Track
\::-webkit-scrollbar-track
  box-shadow: inset 0 0 5px grey
  border-radius: 10px

// Handle
\::-webkit-scrollbar-thumb
  background: gray
  border-radius: 10px

  &:hover
    background: white

*
  margin: 0
  font-family: Sans-serif, Arial

// body
//   margin-top: 60px

section
  display: flex
  background: aqua

  &.top-center
    justify-content: center

div

  &.center
    display: flex
    justify-content: center
    align-items: center

  &.left
    display: flex
    justify-content: left
    align-items: left

  &.top-center
    display: flex
    justify-content: center

  &.form-container
    padding: 20px
    flex-direction: column
    border-radius: 25px
    background: lime

  &.ls-container
    flex-direction: column
    
    span

      &.search-bar-span
        display: flex
        margin-top: 20px

      &.form-span
        display: flex
        height: 50px

  &.center-container
    width: 80%
    margin: 0 10%

  &.left-container, &.right-container
    width: 50%

    select
      border: none
      border-top-left-radius: 25px
      border-bottom-left-radius: 25px
      padding-left: 15px

    input
      margin: 0

      &[type=search]
        border: none

  &.grid-container
    display: grid

  &.carousel-container
    overflow: hidden

    button
      position: absolute
      display: none
      padding: 0
      width: 5%
      background: none
      border: none
      outline: none
      cursor: pointer

      svg
        width: 100%

  &.carousel-slide
    display: flex

    img
      width: 100%

  &.cropped-image-container

    button
      margin-left: 10px

    img
      width: 100%

  &.vertical
    display: flex
    flex-direction: column

  &.color-radio-container
    width: 50px
    height: 50px
    position: relative
    margin-right: 10px
    cursor: pointer
    user-select: none
    border-radius: 50%

    input
      position: absolute
      opacity: 0
      cursor: pointer
      width: 50px
      z-index: 1

      &:checked ~ .checkmark
        border: 2px solid black

    &:hover
      
      input

        & ~ .checkmark
          border: 2px solid gray

        &:checked ~ .checkmark
          border: 2px solid black

  &.property-container
    margin-top: 10px

  &.property-radio-container
    display: block
    position: relative
    cursor: pointer
    user-select: none
    font-size: 130%
    margin: 7px 5px 0 0

    input
      position: absolute
      width: 100%
      height: 160%
      opacity: 0
      cursor: pointer
      margin-top: -7px
      z-index: 1

      &:checked ~ .option-checkmark
        border: 2px solid black
        background: navy !important
        color: white

    &:hover
      
      input

        & ~ .option-checkmark
          border: 2px solid gray
          background: blue
          color: white

        &:checked ~ .option-checkmark
          border: 2px solid black
          background: navy
          color: white

  &.horizontal
    display: flex

  &.num-star-container
    width: 100%

  &.star-average-box
    padding: 0 20px
    font-size: 50px
    color: orange
    fill: orange

    strong
      margin-right: 5px

    svg
      width: 40px
      height: 40px

      &:hover
        fill: orange

  &.jump-to-box
    margin-top: 15px

    strong
      margin-right: 5px

a
  text-decoration: none
  color: blue
  outline: none

  &:hover
    text-decoration: underline
    cursor: pointer

  &.active
    background-color: aqua !important
    color: black !important
    cursor: text

    &:hover
      text-decoration: none

  &.horizontal
    display: flex

form
  display: flex
  height: auto
  flex-direction: column
  justify-content: center
  text-align: center

  &.center
    align-items: center 

  &.left
    align-items: left
    text-align: left

input
  height: 50px
  padding: 0
  font-size: $normal-font-size
  text-align: center
  color: white
  outline: none
  margin-top: 10px
  background-color: green
  border: 2px solid gray

  &::placeholder
    color: silver

  &.invalid
    border: 2px solid red

  &[type=file]
    display: none
    position: absolute
    z-index: -1

  &[type=submit]
    background-color: navy
    cursor: pointer

    &:disabled
      background-color: gray
      color: silver

label
  
  &#password-error
    display: none

  &#rating-msg
    display: none
    color: white
    background: green
    padding: 3px 5px
    margin-left: 10px
    border-radius: 5px

    &::before
      position: absolute
      content: ""
      margin: 1px 0 0 -12px
      border-right: 7px solid green
      border-top: 7px solid transparent
      border-bottom: 7px solid transparent

  &.err
    color: red

  &.msg
    margin-top: 10px
    padding: 10px 0
    border-radius: 15px
    color: white
    text-align: center
    width: 100%
    font-size: 25px

  &.err-msg
    background-color: red

  &.suc-msg
    background-color: blue

  &.left
    float: left

  &.right
    float: right

  &.attr
    font-size: 150%

  &.price
    color: red

  &.img-in
    position: absolute
    opacity: 0
    font-size: 45px
    cursor: pointer

    &:hover
      
      button
        fill: white

span

  &.horizontal
    display: flex

  &.option
    width: 100%
    margin-top: 10px

    a#right
      float: right

  &.inline
    display: flex
    align-items: center

  &.inline-span
    display: flex
    justify-content: center
    align-items: center

  &.inline-color-span
    display: flex
    align-items: center

  &.input-span
    margin-top: 10px
    color: white
    font-size: 24px
    
    input
      margin: 0

  &.search-bar

    select
      padding-left: 10px
      border-top-left-radius: 25px
      border-bottom-left-radius: 25px

    input
      margin: 0

  &.star-bar
      
    svg
      width: 30px
      height: 30px

  &.sub-star-bar
      
    svg
      width: 15px
      height: 15px

  &.full-star
    fill: orange

    svg

      &:hover
        fill: orange

  &.star-half
    fill: orange

    svg

      &:hover
        fill: orange

  &.none-star
    fill: silver

    svg

      &:hover
        fill: silver

    &:hover
      fill: silver

  &.checkmark
    position: absolute
    top: 0
    left: 0
    width: 50px
    height: 50px
    border-radius: 50%
    border: 2px solid white

  &.option-checkmark
    background: #eee
    border: 2px solid white
    padding: 5px
    border-radius: 5px

  &.rating
    display: flex
    align-items: center

    & input
      display: none

  &.star
    fill: gray
    cursor: pointer

    svg
      width: 30px

      &:hover
        fill: orange

  &.func-bar
    background: silver
    width: 100%
    height: auto

    button.right-btn
      float: right

  &.review-imgs-bar
    display: flex
    overflow: auto

    span
      display: flex
      margin-right: 10px

      img
        height: 100px
        margin-top: 20px

      button
        margin: 5px 0 0 -15px

  &.imgs-bar
    display: flex
    overflow: auto

    span
      display: flex
      margin-right: 10px

      img
        width: auto !important
        height: 100px !important

  &.num-star-bar
    width: 100%
    
    svg
      width: 15px
      height: 15px
      margin-left: 3px
      
      &:hover
        fill: black

    meter
      width: 100%
      margin: 0 10px

      &::-webkit-meter-optimum-value
        background: #f25800

      &::-moz-meter-bar
        background: #f25800

svg
  
  &:hover
    fill: white

meter
  margin-top: 5px

  // Webkit based browsers
  &[value="1"]::-webkit-meter-optimum-value
    background: red
  &[value="2"]::-webkit-meter-optimum-value 
    background: yellow
  &[value="3"]::-webkit-meter-optimum-value 
    background: orange
  &[value="4"]::-webkit-meter-optimum-value 
    background: green

  // Gecko based browsers
  &[value="1"]::-moz-meter-bar 
    background: red
  &[value="2"]::-moz-meter-bar 
    background: yellow
  &[value="3"]::-moz-meter-bar 
    background: orange
  &[value="4"]::-moz-meter-bar 
    background: green

select
  background-color: green
  height: 50px
  font-size: 25px
  outline: none
  color: white

table
  background-color: lime
  border: 5px double black
  border-collapse: collapse

  thead
    background-color: green
    border: 5px double black
    color: white

    tr

      th
        border: 2px solid black

  tbody

    tr

      td
        border: 2px solid black

      td.center-td
        text-align: center

    tr:nth-child(even)
      background-color: olive

  th, td
    padding: 5px

  &.ls-table

    tbody

      tr

        td
          
          img
            margin-top: 8px
            margin-bottom: 5px

            &.product-img
              width: 100%
              border-radius: 5px

            &.avatar
              width: 64px
              height: 64px
              border-radius: 50%

          &.address-td
            width: 20%
        
    th
      position: -webkit-sticky
      position: sticky
      z-index: 1
      background-color: green

    tr
      
      &:nth-child(1)

        th
          top: -2px
          // top: 57px

      &:nth-child(2)

        th
          top: 40px
          // top: 100px

      &:nth-child(3)

        th
          top: 80px
          // top: 140px

  &.only-table
    margin: 20px 0

  &.property-table
    margin-top: 10px

button

  &.btn
    width: 50px
    height: 50px
    padding: 2px
    cursor: pointer
    outline: none
    border: none

    svg
      width: 46px
      height: 46px

    &:disabled
      background: grey

      svg
        fill: black

  &.search-btn
    background-color: blue
    border-top-right-radius: 25px
    border-bottom-right-radius: 25px
    padding-right: 10px
    width: 60px

  &.ls-btn
    background-color: red
    margin-left: 10px

  &.func-btn
    width: 30px
    height: 30px
    padding: 0
    cursor: pointer
    border: none
    outline: none

    svg
      width: 30px
      height: 30px

    &:disabled
      background: grey

      svg
        fill: black

  &.two-func-btn
    margin-left: 20px

  &.three-func-btn
    margin-left: 10px

  &.under-func-btn
    margin-top: 5px

  &.submit-btn
    margin: 10px 0 20px 0

  &.cancel-btn
    margin-left: 40px

  &.circle-btn
    border-radius: 50%

  &.square-btn
    border-radius: 15%

  &.trans-btn
    background: none

  &.red-btn
    background: red

  &.blue-btn
    background: blue

  &.yellow-btn
    background: yellow

  &#eye-btn
    background: none
    border: none
    outline: none
    padding: 0 0 0 5px

    svg#eye
      display: none

details

  summary
    font-size: 200%

textarea
  font-size: 150%

h1
  font-size: 200%

select
  cursor: pointer

nav

  &.star-nav

    a

      strong
        margin-right: 3px

ul
  padding: 0

  &.reviews-ls
    list-style-type: none

    li
      margin-bottom: 10px

      img
        width: 40px
        height: 40px
        margin-right: 10px

      span.user
        margin-bottom: 5px

        a
          display: flex
          align-items: center

        p
          display: flex
          align-items: center

p
  &.separator
    margin: 0 5px