// GLOBAL STYLES

$normal-font-size: 25px

*
  margin: 0
  font-family: Sans-serif, Arial

body
  margin-top: 60px

section.center-content
  display: flex
  background-color: aqua
  justify-content: center
  align-items: center

section.ls
  display: flex
  width: 100%
  background-color: aqua

div.center-box
  display: flex
  justify-content: center
  align-items: center
  background-color: lime
  flex-direction: column
  width: auto
  height: auto
  padding: 20px
  border-radius: 25px

div.ls-body-div
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  
  span.search-bar-span
    display: inherit
    margin-top: 20px

  span.form-span
    display: inherit
    height: 50px

  select
    border: none
    border-top-left-radius: 25px
    border-bottom-left-radius: 25px
    padding-left: 15px

  input
    margin: 0

  input[type=search]
    border: none

a
  text-decoration: none
  color: blue

a#eye-btn
  background: none
  border: none
  outline: none

  svg#eye
    display: none

a.active
  background-color: aqua !important

  p
    color: black !important

form
  display: flex
  height: auto
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

input
  height: 50px
  padding: 0
  font-size: $normal-font-size
  text-align: center
  color: white
  outline: none
  margin-top: 10px
  background-color: green
  border: 2px solid gray

input.invalid-input
  border: 2px solid red

input::placeholder
  color: silver
  font-size: $normal-font-size
  text-align: center

input[type=submit]
  background-color: navy

input[type=submit]:disabled
  background-color: gray
  color: silver

label.err
  color: red

label#password-error
  display: none

label.msg
  margin-top: 10px
  padding: 10px 0
  border-radius: 15px
  color: white
  text-align: center
  width: 100%
  font-size: 25px

label.err-msg
  background-color: red

label.suc-msg
  background-color: blue

label.left
  float: left

label.right
  float: right

span.option
  width: 100%
  margin-top: 10px

  a#right
    float: right

span.inline-span
  display: flex

svg:hover
  fill: white

meter
  margin-top: 5px

// Webkit based browsers
meter[value="1"]::-webkit-meter-optimum-value
  background: red
meter[value="2"]::-webkit-meter-optimum-value 
  background: yellow
meter[value="3"]::-webkit-meter-optimum-value 
  background: orange
meter[value="4"]::-webkit-meter-optimum-value 
  background: green

// Gecko based browsers
meter[value="1"]::-moz-meter-bar 
  background: red
meter[value="2"]::-moz-meter-bar 
  background: yellow
meter[value="3"]::-moz-meter-bar 
  background: orange
meter[value="4"]::-moz-meter-bar 
  background: green

select
  background-color: green
  height: 50px
  font-size: 25px
  outline: none
  color: white

table
  background-color: lime
  border: 5px double black
  border-collapse: collapse

  thead
    background-color: green
    border: 5px double black
    color: white

    tr

      th
        border: 2px solid black

  tbody

    tr

      td
        border: 2px solid black

      td.center-td
        text-align: center

    tr:nth-child(even)
      background-color: olive

  th, td
    padding: 5px

table.list-table
  margin: 20px

  thead
    font-size: 24px

  tbody
    font-size: 20px

    tr

      td

        img
          margin-top: 8px
          margin-bottom: 5px
          width: 64px
          height: 64px
          border-radius: 50%

      td.address-td
        width: 20%
    
  th
    position: -webkit-sticky
    position: sticky
    z-index: 1
    background-color: green

  tr:nth-child(1)

    th
      top: 57px

  tr:nth-child(2)

    th
      top: 90px

.btn
  width: 50px
  height: 50px
  padding: 2px
  outline: none
  border: none

  svg
    width: 46px
    height: 46px

.btn:disabled
  background: grey

  svg
    fill: black

.search-btn
  background-color: blue
  border-top-right-radius: 25px
  border-bottom-right-radius: 25px
  padding-right: 10px
  width: 60px

.ls-btn
  background-color: red
  margin-left: 10px

.func-btn
  width: 30px
  height: 30px
  padding: 0
  border: none
  outline: none

  svg
    width: 30px
    height: 30px

.func-btn:disabled
  background: grey

  svg
    fill: black

.two-func-btn
  margin-left: 20px

.circle-btn
  border-radius: 50%

.square-btn
  border-radius: 15%
  
a.square-btn
  padding: 5px 3px 0 3px

  svg
    width: 25px
    height: 25px
    
.red-btn
  background: red

.blue-btn
  background: blue

.yellow-btn
  background: yellow