<app-header></app-header>
<section class="top-center">
  <div id="only-form-container" class="center form-container">
    <h2>Find Your Username</h2>
    <form #findUsernameForm="ngForm" (ngSubmit)="findUsernameForm.valid && onSubmit(findUsernameForm)">
      <input #email="ngModel" [(ngModel)]="emailFind" [ngClass]="{ 'invalid-input': findUsernameForm.submitted && !email.valid }" type="email" name="email" [pattern]="emailRegex" placeholder="Email: example@email.com" required>
      <label *ngIf="findUsernameForm.submitted && email.errors?.pattern" class="err">Invalid Email.</label>
      <input type="submit" value="Continue" [disabled]="email.errors?.required">
    </form>
    <label class="msg err-msg" *ngIf="serverErrorMessages">{{serverErrorMessages}}</label>
    <span class="option">
      <a id="center" href="login">Back</a>
    </span>
  </div>
</section>