table
  margin: 10px 0

  thead

    tr

      th

        img
          border: 2px solid black
          border-radius: 50%
          height: 200px
          width: 200px

  tbody

    tr
      
      th, td
        text-align: left

      td

        input
          margin: 0