div.container
  margin-top: 80px
  margin-bottom: 205px

  img
    width: 150px
    height: 150px
    margin-bottom: 10px

  form
    width: 400px

    input
      width: 70%
      border-radius: 25px

    input[type=submit]
      height: 54px
