<app-header></app-header>
<section>
  <div class="center-container top-container">
    <h1>
      {{ product.name }}
      <span *ngIf="product.star.countRate" class="star-container">
        <span class="star">
          <svg *ngFor="let s of starCount" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-3x"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
        </span>
        <span *ngIf="starHalf" class="star-half">  
          <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="star-half" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star-half fa-w-18 fa-3x"><g class="fa-group"><path fill="silver" d="M545.3 226L439.6 329l25 145.5c4.5 26.1-23 46-46.4 33.7l-130.7-68.6V0a31.62 31.62 0 0 1 28.7 17.8l65.3 132.4 146.1 21.2c26.2 3.8 36.7 36.1 17.7 54.6z" class="fa-secondary"></path><path d="M110.4 474.5l25-145.5L29.7 226c-19-18.5-8.5-50.8 17.7-54.6l146.1-21.2 65.3-132.4A31.62 31.62 0 0 1 287.5 0v439.6l-130.7 68.6c-23.4 12.3-50.9-7.6-46.4-33.7z" class="fa-primary"></path></g></svg>
        </span>
        <span class="none-star">
          <svg *ngFor="let n of noneStarCount" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-3x"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
        </span>
      </span>
    </h1>
    <hr>
  </div>
</section>
<section class="top-content">
  <div class="left-container top-center">
    <div class="carousel-container">
      <button id="close-btn" (click)="closeGallery()">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-times-circle fa-w-16 fa-3x"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z" class=""></path></svg>
      </button>
      <div class="carousel-slide" (click)="showGallery()" (mouseenter)="showArrow()" (mouseleave)="hideArrow()" (transitionend)="moved()">
        <img src="assets/img/carousel/A.png" alt="A">
        <img src="assets/img/carousel/B.png" alt="B">
        <img src="assets/img/carousel/C.png" alt="C">
      </div>
    
      <button id="prev-btn" (mouseenter)="showArrow()" (mouseleave)="hideArrow()" (click)="prev()">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
          <g>
            <g>
              <path d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12
                C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084
                c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864
                l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z"/>
            </g>
          </g>
        </svg>
      </button>
      <button id="next-btn" (mouseenter)="showArrow()" (mouseleave)="hideArrow()" (click)="next()">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;" xml:space="preserve">
          <g>
            <g>
              <path d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12
                c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028
                c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265
                c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
            </g>
          </g>
        </svg>
      </button>
    </div>
    <div class="gallery-carousel-nav" (click)="selectImg($event)">
      <span class="gallery-frame">
        <img src="assets/img/carousel/Transparent.png" alt="Frame">
      </span>
      <img src="assets/img/carousel/A.png" alt="A">
      <img src="assets/img/carousel/B.png" alt="B">
      <img src="assets/img/carousel/C.png" alt="C">
    </div>
  </div>
  <div class="right-container">
    <form class="left">
      <label class="attr">
        <strong>Color:</strong> {{ order.color.preview }}
      </label>
      <div class="left">
        <div *ngFor="let c of product.colors" class="center vertical color-radio-container">
          <input #color="ngModel" [(ngModel)]="order.color.name" [value]="product.colors[product.colors.indexOf(c)].name" (ngModelChange)="onCheck(product.colors[product.colors.indexOf(c)])" (mouseenter)="preview(product.colors[product.colors.indexOf(c)])" (mouseleave)="reset()" type="radio" name="color">
          <span class="checkmark" [ngStyle]="{ 'background': c.value }"></span> 
        </div>
      </div>
    </form>
  </div>
</section>
<section>
  <div class="center-container">
    <h1>Slider Image Editor</h1>
  </div>
</section>
<section>
  <div class="left-container image-cropper-container">
    <span class="input-span inline-span">
      <label for="img">Choose an image file</label>
      <input #newImg="ngModel" [(ngModel)]="img" id="img" type="file" name="img" (change)="fileChangeEvent($event)" accept="image/*" required>
    </span>
    <image-cropper *ngIf="imageChangedEvent"
        [imageChangedEvent]="imageChangedEvent" 
        [maintainAspectRatio]="true" 
        [aspectRatio]="4 / 3"
        [resizeToWidth]="2048"
        [cropperMinWidth]="128"
        format="png"
        (imageCropped)="imageCropped($event)" 
        [onlyScaleDown]="true"></image-cropper>
  </div>
  <div class="right-container cropped-image-container">
    <button type="button" class="btn circle-btn yellow-btn" title="Add" (click)="add()" [disabled]="!croppedImage">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-plus-circle fa-w-16 fa-3x"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z" class=""></path></svg>
    </button>
    <button *ngIf="croppedImage" type="button" class="btn circle-btn red-btn" title="Cancel">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-times-circle fa-w-16 fa-3x"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z" class=""></path></svg>
    </button>
    <img [src]="croppedImage" />
  </div>
</section>