div

  &.top-container

    h1
      font-size: 50px

      a
        font-size: 37px
        margin-left: 12px

  &.center-container
    margin-top: 10px

  &.left-container
    margin: 10px 0.5% 0 10%

  &.right-container
    margin: 10px 10% 0 0.5%
  
  &.carousel-container
    width: 100%

    button
      background: black
      border-radius: 50%
      padding: 10px
      fill: white

      &:hover
        background: gray

  &.grid-container
    width: 100%
    margin-top: 10px
    grid-gap: 10px
    grid-template-columns: auto auto auto

  &.grid-box
    display: flex
    cursor: move
    width: 100%
    height: 100%

    img
      width: 100%
      border: 2px solid black

    button
      display: none
      margin: 5px 0 0 -35px

    &:hover

      button
        display: inline

  &.gallery-carousel-nav
    display: none
    width: 100%

    .gallery-frame
      cursor: default

      img
        cursor: default

    img
      cursor: pointer

  &.image-cropper-container
    
    img
      width: 100%

  &.cropped-image-container

    img
      margin-top: 10px

  &.review-gallery-carousel-nav
    display: none
    height: 9vh

    img
      cursor: pointer

    .review-gallery-frame
      border: 2px solid yellow

span

  &.gallery-frame
    display: flex
    background: none
    border: 2px solid yellow

  &.input-span
    height: 50px
    margin: 0 0 10px 0
    border-radius: 25px
    background: green

.cdk-drag-preview
  box-sizing: border-box
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)

.cdk-drag-placeholder
  opacity: .5

.cdk-drag-animating
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

details
  
  summary

    button
      margin-left: 20px