div
  
  &.carousel-container
    background: black

    button
      position: absolute
      top: 30%
      width: 5%

      &#prevBtn
        left: 10%

      &#nextBtn
        right: 57.6%

      svg
        width: 100%
