<section class="center-content">
  <table class="user-table">
    <thead>
      <tr>
        <th colspan="6">USERS</th>
      </tr>
      <tr>
        <th>No.</th>
        <th>Avatar</th>
        <th>Fullname</th>
        <th>Username</th>
        <th>Activated</th>
        <th>Functions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td class="center-td">{{ users.indexOf(u) + 2 }}</td>
        <td class="center-td"><img src="{{ u.avatar }}" alt="{{ u.firstName }}'s avatar"></td>
        <td>{{ u.fullName }}</td>
        <td>{{ u.username }}</td>
        <td *ngIf="u.activated" class="center-td">✔</td>
        <td *ngIf="!u.activated" class="center-td">✘</td>
        <td>
          <button class="view-profile" title="View profile" (click)="viewProfile(u.username)">ⓘ</button>
          <button class="make-admin" title="Remove as admin" (click)="makeAdmin(u.username)">✪</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>