form
  width: 50%
  height: 100%

  div.image-cropper-container
    margin-top: 5px
    padding-right: 10px
    width: 94%
    height: auto
    background: green
    overflow: hidden

    img
      margin-top: 10px
      border: 5px solid black
      background: url("/assets/img/background/transparent.png")

  h1
    margin-top: 20px

  input

    &.single-in
      width: 94%
      border-radius: 25px

    &.number
      width: 200px

  span
    height: 50px
    width: 94%
    margin-top: 10px
    color: white
    border-radius: 25px
    border: 2px solid grey
    background: green

    input
      margin: 0
      border: none

    select
      border: none

    &.func-btn-span
      background: none
      border: none
      margin-bottom: 20px

  table

    input, span
      margin: 0
      border-radius: 0

    input

      &.color
        width: 200px

      &.single
        width: 517px

      &.triple
        width: 100px

    td

      &.color-td
        display: flex

      &.one-btn
        width: 50%

    span
      
      &.color-span
        width: 99.5%

      &.input-span
        border: none
        width: auto

    select
      margin-right: 10px

div.ls-container
  margin-top: 30px
  width: 50%
  height: 100%

  span

    &.search-bar-span
      margin-bottom: 20px
      width: 100%

      form
        width: 100%

        input
          margin: 0
          width: 100%
          border-radius: 30px

        button
          margin: 0

          &.search-btn
            border-top-right-radius: 23px
            border-bottom-right-radius: 23px
      
      button

        &.ls-btn
          margin: 10px 20px 0 0

h1
  font-size: 100%

