section.center-content
  align-items: top
  
  form
    width: 50%

    input.single-in
      width: 94%
      border-radius: 25px

    span
      width: 94%
      margin-top: 10px
      color: white
      border-radius: 25px
      border: 2px solid grey
      background: green

      input
        margin: 0
        border: none

      select
        border: none

    table
      margin-top: 10px

      input, span
        margin: 0
        border-radius: 0

      input.color
        width: 200px

      input.single
        width: 517px

      input.double
        width: 250px

      td.color-td
        display: flex

      span.color-span
        margin-bottom: 10px

  div.ls-body-div
    align-items: top
    width: 50%
