section.center-content
  align-items: top
  
  form
    width: 50%

    table
      margin-top: 20px

      input.color
        width: 200px

      input.single
        width: 517px

      input.double
        width: 250px

      td.color-td
        display: flex

  div.ls-body-div
    align-items: top
    width: 50%
