<section class="center-content">
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    <h1>Product management</h1>
    <input #_id="ngModel" [(ngModel)]="product._id" type="hidden" name="_id">
    <input #name="ngModel" [(ngModel)]="product.name" type="email" name="name" placeholder="Name" required>
    <input #quantityImported="ngModel" [(ngModel)]="product.quantity.imported" type="number" name="quantity-imported" min="1">
    <span id="type-span">
      <label>Type: </label>
      <select #type="ngModel" [(ngModel)]="product.type" name="type">
        <option value="laptop" selected>Laptop</option>
        <option value="tablet">Tablet</option>
        <option value="phone">Phone</option>
        <option value="watch">Watch</option>
        <option value="accessories">Accessories</option>
      </select>
    </span>
    <ul>
      <li *ngFor="let c of product.colors">
        {{ c }}
        <a (click)="removeColor(c)">
          
        </a>
      </li>
      <form #colorForm="ngForm" (ngSubmit)="onColorSubmit(colorForm)">
        <input #newColor="ngModel" [(ngModel)]="color" type="email" name="color" placeholder="Name" required>
        <input type="submit" value="Add">
      </form>
    </ul>
    <input type="submit" value="Save">
  </form>
  <div class="ls-body-div">
    <table class="list-table">
      <thead>
        <tr>
          <th colspan="7">USERS</th>
        </tr>
        <tr>
          <th>No.</th>
          <th>Avatar</th>
          <th colspan="2">Fullname</th>
          <th>Username</th>
          <th>Activated</th>
          <th>Functions</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let p of products"> -->
          <!-- <td class="center-td">{{ users.indexOf(u) + 1 }}</td>
          <td class="center-td"><img src="{{ u.avatar }}" alt="{{ u.firstName }}'s avatar"></td>
          <td>{{ u.name.first }}</td>
          <td>{{ u.name.last }}</td>
          <td>{{ u.username }}</td>
          <td *ngIf="u.activated" class="center-td">✔</td>
          <td *ngIf="!u.activated" class="center-td">✘</td>
          <td>
            <button class="view-profile" title="View profile" (click)="viewProfile(u.username)">ⓘ</button>
            <button class="make-admin" title="Make admin" (click)="makeAdmin(u.username)">✪</button>
          </td> -->
        <!-- </tr> -->
      </tbody>
    </table>
  </div>
</section>