div.center-box
  margin-top: 122px
  margin-bottom: 242px

  form
    width: 320px

    span.single-span
      width: 100%

      input.password
        float: left

    meter
      float: left
      margin-top: 5px
      width: 91%

    input
      border-radius: 25px
      width: 90%

    input[type=submit]
      float: left
      width: 91%
