section
  display: flex
  height: auto
  font-size: 25px

  nav
    display: inherit
    flex-direction: column
    align-items: center
    height: auto
    width: 10%
    background-color: green

    a
      background-color: navy
      width: 100%
      padding: 10px 0

      p
        margin-left: 20px
        width: 100%
        color: white

    // ul
    //   list-style-type: none
    //   padding: 0
    //   width: 100%
    //   background-color: navy

    //   li
    //     padding: 10px 0
    //     outline: none

    //     p
    //       margin-left: 28px
    //       width: 100%
    //       color: white
    
  section#list
    display: inherit
    width: 100%
    flex-direction: column
    background-color: aqua