div.form-container

  form
    width: 320px

    span
      
      &.code
        width: 47%
        margin-top: 10px
        background-color: green
        border-radius: 30px
        border: solid silver

        label
          margin-left: 20px
          font-size: 25px
          color: white
          background-color: green
          height: 50px

        input

          &#verification-code
            margin: 0

          &::placeholder
            text-align: left

          &[type=text]
            width: 105px
            text-align: left
            border-top-left-radius: 0
            border-bottom-left-radius: 0
            border: none

      &#password-span
        width: 100%

        input#password
          float: left

        meter
          float: left
          margin-top: 5px
          width: 91%

    input
      border-radius: 25px

      &[type=password]
        width: 90%

      &[type=text]
        width: 90%

      &[type=submit]
        width: 49%

    p#notify
      margin-top: 10px

  span.option
    display: flex
    justify-content: center
