div.center-box
  margin-top: 102px
  margin-bottom: 222px

  form
    width: 320px

    span.code
      margin-top: 10px
      background-color: green
      border-radius: 30px
      border: solid silver

      label
        margin-left: 20px
        font-size: 25px
        color: white
        background-color: green
        height: 50px

      input#verification-code
        margin: 0

      input::placeholder
        text-align: left

      input[type=text]
        width: 90px
        text-align: left
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        border: none

    span#password-span
      width: 96%

      input#password
        float: left

      meter
        float: left
        margin-top: 5px
        width: 91%

    input
      border-radius: 25px

    input[type=submit]
      border-radius: 25px
      width: 43%

    a#eye-btn
      background: none
      border: none
      outline: none

      svg#eye
        display: none

    label#password-error
      display: none


    // Webkit based browsers
    meter[value="1"]::-webkit-meter-optimum-value
      background: red
    meter[value="2"]::-webkit-meter-optimum-value 
      background: yellow
    meter[value="3"]::-webkit-meter-optimum-value 
      background: orange
    meter[value="4"]::-webkit-meter-optimum-value 
      background: green

    // Gecko based browsers
    meter[value="1"]::-moz-meter-bar 
      background: red
    meter[value="2"]::-moz-meter-bar 
      background: yellow
    meter[value="3"]::-moz-meter-bar 
      background: orange
    meter[value="4"]::-moz-meter-bar 
      background: green

  span.option
    display: flex
    justify-content: center
